.feature_wrap {
    padding: 128px 0;
    background-color: #F4F6FC;
    .feature_head {
        margin: 0 auto 47px auto;
        max-width: 630px;
        .feature_sup {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            color: #282938;
            margin-bottom: 12px;
        }
    }
    .grid {
        display: grid;
        grid-template-columns: 4fr 4fr 4fr;
        .feature_inner {
            padding: 48px 32.58px 48px 48px;
            background-color: #ffffff;
            .fw-semibold {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 36px;
                margin: 12px 0;
            }
            .text-muted {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
            }
        }
       
    }

} 