.testimonial_wrap {
    padding: 128px 0;
    overflow: hidden;
    .testimonial_inner {
        max-width: 327px;
        width: 100%;
    }
    .testmonials_slied {
        .main_slieda_ttstmonials {
            .test_slid_items {
                outline: none;
                padding: 0px;
                cursor: grab;
                &:active {
                    cursor: grabbing;
                }
                .slid_pra2 {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 48px;
                    color: #282938;
                    margin-bottom: 48px;
                }
                .test_item {
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    .sliderImg {
                        border-radius: 100%;
                        overflow: hidden;
                        width: 50px;
                        height: 50px;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                    .sliderTitle {
                        margin-left: 20px;
                        .slid_hed {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 32px;
                            color: #282938;
                            margin: 0;
                        }
                        .slid_pra {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 28px;
                            color: #282938;
                            margin: 0;
                        }
                    }
                }
            }
           
        }
        .slick-arrow {
            z-index: 3;
            transition: all 0.5s;
            bottom: 0;
            margin-right: 15px;
            &::before {
                font-family: 'FontAwesome';
                transition: all 0.5s;
                padding: 14px 18px;
                font-size: 20px;
                transition: all 0.5s;
                background: transparent;
                border-radius: 50%;
                color: #282938;
            }
            &:hover {
                &::before {
                    background: #5239FA;
                    color: #ffffff;
                }
            }
            
        }
        
    
    }
}
.main_slieda_ttstmonials,.slick-initialized,.slick-slider {
    .button {
        line-height: 0;
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
        
        
    }
}

.slick-next:before {
    content: '\f054';
    font-family: "FontAwesome";
    font-weight: 900;
}
.slick-prev:before {
    content: '\f053';
    font-family: "FontAwesome";
    font-weight: 900;
}

.slick-prev {
    right: 58px;
}
.slick-next {
   right: 0;
}
.slick-prev {
    left: auto;
}