.price_inner {
    margin-top: 64px;
    padding: 62px 48px;
    border-radius: 12px;
    position: relative;
    z-index:0;
    overflow: hidden;
    transition: all 0.5s ease;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #F4F6FC;
        z-index: -2;
        transition: all 0.5s ease;
    }
    &::before {
        content: "";
        position: absolute;
        top: -540px;
        left: -390px;
        width: 1151px;
        height: 1151px;
        background: rgba(255, 255, 255, 0.06);
        z-index: -1;
        border-radius: 50%;
        transition: all 0.5s ease;
    }
    &:hover {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #1C1E53;
            z-index: -2;
        }
        &::before {
            background: rgba(255, 255, 255, 0.06);
            z-index: -1;
        }
        .price_hover_color {
            color: #ffffff;
        }
        .pricetex_hover{
            color: #FCD980;
        }
        .button4 {
            background-color: #FCD980;
            color: #282938;
        }
    }
}

h6 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #282938;
}
.prices {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;
    color: #282938;
    align-items: center;
    display: flex;
    .per_price{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #2405F2;
        margin-left:10px;
    }
}
.prices_contint  {
    margin-bottom: 78px;
}
.prices_contint {
    list-style: none;
    padding-left: 0;
    li {
        margin-bottom: 20px;
    }
}
.pricepra {
    margin-bottom: 78px;
}
.price_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
}

.button4 {
    background-color: #282938;
    border: 2px solid rgba(244, 246, 252, 0.2);
    border-radius: 41px;
    padding: 16px 48px;
    transition: all 0.5s ease; 
    color: #F4F6FC;
    &:hover {
        background-color: #FCD980;
        color: #282938;
    }
}
