.work_worp {
    padding: 270px 0 128px;
}
.filter-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #282938;
    border: none;
    background-color: transparent;
    margin: 0 16px;
    transition: all 0.5s;
}